@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Playfair+Display:wght@400;700&display=swap');

body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
}

/* Header Styling */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    height: 60px; 
}

.menu ul {
    display: flex;
    gap: 20px; /* Space between menu items */
}

/* Menu Hover Effect */
.menu a {
    font-size: 16px; 
    color: #000; 
    position: relative;
    transition: color 0.3s ease;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjusting distance from text */
    width: 0;
    height: 2px; 
    background-color: #000;
    transition: width 1s ease-out;
}

.menu a:hover::after {
    width: 100%;
}

/* Booking Button Styling */
.booking-button {
    position: relative;
    align-items: center;
}

.booking-button a {
    font-size: 16px;
    color: black;
    margin-right: 15px; /* Space between the phone number and the button */
    position: relative;
    z-index: 1; /* Ensure the phone number stays above the button */
}

.booking-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 0; /* Ensure the button is below the phone number */
}

/* Animation on Hover */
.booking-btn:hover {
    background-color: #0056b3;
    transform: scale(1.1); /* zoom effect */
    box-shadow: 0 4px 10px black;
}
/* Search Section */
#search{
    background-color:  #ffe6cc;
}
#search h2{
    text-align: center;
    padding-top: 30px;
    color: #ffa64d;
}

.search-form form {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

form input, form select, form button {
    padding: 10px;
    font-size: 14px;
    width: 130px;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    form {
        flex-direction: column; /* Stack form elements on smaller screens */
        align-items: flex-start;
    }

    form input, form select, form button {
        width: 100%;
    }
}